html
  head
    link(rel="stylesheet", src="/styles/styles.css")
    title= title
  body
    div.app-container
      h1.text-red-500  message
      ul
       each val, key in data
        li= key + ': ' + val.name + ': ' + val.count